/* MEMPHIS DESIGN - CONTACT SECTION */
.contact.section {
	padding-bottom: 6.25rem;
}

.contact__container {
	grid-template-columns: 4fr 8fr;
	column-gap: 2rem;
}

.contact__info {
	background: #ffffff;
	padding: 1rem;
	/* border: var(--border-thick); */
	border-radius: 30px;
	/* box-shadow: var(--shadow); */
	position: relative;
	color: var(--memphis-black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.75rem;
}

.contact__title {
	font-size: var(--h3-font-size);
	/* margin-bottom: 0.01rem; */
	font-family: var(--heading-font);
	letter-spacing: 2px;
	color: var(--memphis-black);
	line-height: 1.15;
}

.contact__details {
	/* margin-bottom: 0.5rem; */
	font-weight: var(--font-medium);
	color: black;
}

.contact__mail-gif {
	width: 100%;
	max-width: 320px;
	height: auto;
	display: block;
	background: #ffffff;
}

.contact__form-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.5rem;
}

.contact__form-div {
	position: relative;
	margin-bottom: 1.875rem;
	height: 3.75rem;
}

.contact__form-input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--container-color);
	color: var(--text-color);
	border-radius: 23px;
	border: 3px solid white;
	box-shadow: none;
	outline: none;
	padding: 0.75rem 1.5rem;
	z-index: 1;
	transition: all 0.2s ease;
	font-family: var(--body-font);
}

.contact__form-input:focus {
	transform: translate(-3px, -3px);
	box-shadow: none;
	/* border-color: var(--memphis-pink); */
}

.contact__form-input::placeholder {
	color: var(--text-color);
	font-weight: var(--font-medium);
}

.disable_contact__form-input {
	background-color: var(--disabled-color);
	color: rgb(99, 99, 99);
}

.contact__form-area {
	height: 10.25rem;
}

.contact__form-area textarea {
	padding: 1.5rem;
	resize: none;
}

.contact__send-btn,
.contact__send-btn:hover,
.contact__send-btn:focus,
.contact__send-btn:active {
	background-color: #ffe156 !important;
	color: #000000 !important;
	border-radius: 999px;
	box-shadow: none !important;
	animation: none;
}

.contact__send-btn::before {
	display: none;
}

@media screen and (max-width: 1024px) {
	.contact__container {
		grid-template-columns: 300px 360px;
		justify-content: center;
		row-gap: 2rem;
	}
	.contact__form-group {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 768px) {
	.contact__container {
		grid-template-columns: 310px;
		row-gap: 2rem;
	}

	.contact__info {
		text-align: center;
	}
}

@media screen and (max-width: 350px) {
	.contact__container {
		grid-template-columns: 1fr;
	}
}
